name: build

on: push

jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest] # [ubuntu-latest, macos-latest]

    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: checkout code repository
        uses: actions/checkout@v5

      - uses: prefix-dev/setup-pixi@v0.9.2
        with:
          pixi-version: v0.58.0
          environments: ${{ matrix.environment }}
          frozen: true

      - name: emacs setup
        run: |
          pixi run emacs-setup

      - name: build zmq
        run: |
          pixi run zmq-build
